html {
    background-blend-mode: multiply;
    color: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

#main-container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    border: 3px solid red;
    flex-wrap: wrap;
}

.landing-cards {
    border: 3px solid green;
    width: 400px;
    height: 400px;
    margin: 20px;
}