html {
    background-blend-mode: multiply;
    color: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

header {
    padding-top: 70px;
    z-index: 1;
}

body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 200;
}

nav ul li {
    padding: 0 30px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: inline-block;
    transition: all .4s ease-in-out;
    z-index: 1;
}

nav a:hover:link,
nav a:hover:visited,
nav a:hover:active {
    transform: scale(1.2);
}

nav a:link,
nav a:visited,
nav a:active {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: black;
}

.fas {
    color: white;
    font-size: 40px;
    position: fixed;
    bottom: 50px;
    right: 5vw;
    cursor: pointer;
    display: none;
}

body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

#main-container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
}

.landing-cards {
    width: 400px;
    height: 400px;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all .2s ease-in;
}

.landing-cards:hover {
    transform: scale(1.1);
}

.landing-cards:nth-child(1) {
    background: url(/img/landing-automotive.png) no-repeat top;
    background-size: 400px 300px;
}

.landing-cards:nth-child(2) {
    background: url(/img/restaurant.png) no-repeat top;
    background-size: 400px 300px;
}

.landing-cards:nth-child(3) {
    background: url(/img/shoe.png) no-repeat top;
    background-size: 400px 300px;
}

.landing-cards:nth-child(4) {
    background: url(/img/fashion.png) no-repeat top;
    background-size: 400px 300px;
}

.landing-cards p {
    position: absolute;
    bottom: 50px;
    color: red;
    font-size: 24;
    text-shadow: 3% 3% 3px;
}

.landing-cards a {
    display: block;
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    color: pink;
    background: green;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
}

@media screen and (max-width: 1250px) {
    .fas {
        right: 2vw;
    }
    body {
        padding: 0 5vw;
    }
}

@media screen and (max-width: 650px) {
    header {
        padding: 0;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 20px;
    }
    .fas {
        display: none !important;
    }
}