html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Prata', serif;
}

nav {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0 50px 60px;
    background-color: black;
}

.content {
    height: 100vh;
    width: calc(100vw - 400px);
    background-image: url("/landing-pages/newyork/newyork.jpg");
    background-position: center;
    background-size: cover;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.btn {
    width: 280px;
    height: 80px;
    background-color: #FEAB51;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
    font-size: 40px;
    color: white;
}

.fas {
    font-size: 80px;
    color: white;
    margin: 70px 0 0 80px;
}

.text1 {
    font-size: 100px;
    color: white;
    margin: 20px 0 0 80px;
}

.text2 {
    font-size: 50px;
    color: #FEAB51;
    margin: 10px 0 0 90px;
}

@media screen and (max-width: 750px) {
    nav {
        height: auto;
        width: 100vw;
    }
    .menu {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content {
        width: auto;
        height: 100vh;
    }
    .fas {
        font-size: 36px;
    }
    .text1 {
        font-size: 36px;
    }
    .text2 {
        font: 24px;
    }
}