html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    color: white;
    text-shadow: 3px 3px 8px black;
}

body {
    display: flex;
    justify-content: center;
    margin: 200px auto;
    height: 100vh;
    background: url(/javascript-projects/counter/counter-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 600px;
    text-align: center;
}

.grid-container {
    font-size: 40px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.container p {
    font-size: 50px;
}

@media screen and (max-width: 700px) {
    body {
        margin-top: 150px;
    }
    .container p {
        font-size: 40px;
    }
    .time {
        max-width: 80%;
        margin: 0 auto;
    }
    .grid-container {
        width: 70;
        margin: auto;
        font-size: 30px;
        grid-template-areas: 'days hours' 'daysl hoursl' 'minutes seconds' 'minutesl secondsl';
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(200px, 4fr);
    }
    #d {
        grid-area: days;
    }
    #h {
        grid-area: hours;
    }
    #m {
        grid-area: minutes;
    }
    #s {
        grid-area: seconds;
    }
    #daysl {
        grid-area: daysl;
    }
    #hoursl {
        grid-area: hoursl;
    }
    #minutesl {
        grid-area: minutesl;
    }
    #secondsl {
        grid-area: secondsl;
    }
}