html {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

img {
    width: 400px;
    height: 600px;
}

.container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
}

.fa-balance-scale-right {
    font-size: 70px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 50%;
    display: inline;
    margin-top: 15px;
}

p {
    padding: 0;
    margin: 0;
}

.text1 {
    display: flex;
    justify-content: space-evenly;
}

.text1 .text-p {
    margin-top: 20px;
    font-size: 30px;
}

.text1 .text-p p:nth-child(1) {
    font-size: 50px;
    font-weight: bold;
}

.main-texts {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    margin-top: 50px;
    padding: 22px 120px;
}

.main-texts-p p:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
}

.fa-chevron-right {
    font-size: 60px;
    font-weight: bold;
}

@media screen and (max-width: 980px) {
    .main-texts {
        padding: 22px 80px;
    }
}

@media screen and (max-width: 905px) {
    .main-texts {
        padding: 22px 40px;
    }
    .text1 .text-p {
        margin-top: 20px;
        font-size: 25px;
    }
    .text1 .text-p p:nth-child(1) {
        font-size: 40px;
        font-weight: bold;
    }
    .fa-chevron-right {
        font-size: 40px;
    }
}

@media screen and (max-width: 805px) {
    .container {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    .content-right {
        margin: 0 auto;
        width: 90%;
    }
    .main-texts {
        padding: 10px 20px;
        margin-top: 20px;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    .fa-balance-scale-right {
        font-size: 40px;
    }
}